figure id="myFigure" class="myFigure float <%= orientation %>">
	<a class="colorboxLink" 
		href="<%= src %>" 
		title="<%= title %>">
			<img id="popupImage" 
			src="<%= src %>" 
			alt="<%= title %> - <%= caption %>" 
			title="<%= caption %>"/>
	</a>
	<figcaption>
		<%= title %>
	</figcaption>
</figure>