<figure id="myFigure" class="hidden-phone">
	<a class="colorboxLink" 
		href="<%= src %>" 
		title="<%= title %>">
			<img id="popupImage" 
			src="<%= src %>" 
			class="img-polaroid"
			alt="<%= title %> - <%= caption %>" 
			title="<%= caption %>"/>
	</a>
</figure>