<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
<%- partial('../partials/metadata.ejs') %>
<title>MOORE+DATABASE | <%= title %></title>
<%- partial('../partials/stylesheets.ejs') %>
<%- partial('../partials/scripts.ejs') %>
</head>
<body>
<%- partial('../partials/navbar.ejs') %>
<div id="content_container" class="container-fluid">
<%- body -%>
</div>
<%- partial('../partials/googleAnalytics.ejs') %>
</body>
</html>