<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
<%- partial('partials/metadata.ejs') %>
<title>MOORE+DATABASE | <%= title %></title>
<%- partial('partials/stylesheets.ejs') %>
</head>
<body>	
<%- partial('partials/navbar.ejs') %>
<section id="content_container" class="container-fluid side-padding">
<%- body -%>
</section>
<br />
<br />
<%- partial('partials/scripts.ejs') %>
<%- partial('partials/googleAnalytics.ejs') %>
</body>
</html>