<!DOCTYPE html>
<html data-ng-app>
<head>
<%- partial('partials/metadata.ejs') %>
<title>MOORE+DATABASE | <%= title %></title>
<%- partial('partials/stylesheets.ejs') %>
<%- partial('partials/scripts.ejs') %>
<%- partial('partials/scripts_form.ejs') %>
<%- scripts %>
</head>
<body>
<%- partial('partials/navbar.ejs') %>
<div class="side-padding">
<section id="content_container" class="container-fluid">
<%- body -%>
</section>
</div>
<%- partial('partials/googleAnalytics.ejs') %>
</body>
</html>