<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
<%- partial('partials/metadata.ejs') %>
<title>MOORE+DATABASE | <%= title %></title>
<%- partial('partials/stylesheets.ejs') %>
<%- partial('partials/scripts.ejs') %>
</head>
<body>
<%- partial('partials/navbar.ejs') %>
<div id="container-fluid content_container">
<%- body -%>
</div>
<%- partial('partials/footer.ejs') %>
<%- partial('partials/googleAnalytics.ejs') %>
</body>
</html>