<!DOCTYPE html>
<html ng-app>
<head>
<%- partial('partials/metadata.ejs') %>
<title>MOORE+DATABASE | <%= title %></title>
<%- partial('partials/stylesheets.ejs') %>
<%- partial('partials/scripts.ejs') %>
<%- scripts %>
</head>
<body>	
<%- partial('partials/bootstrap_navbar.ejs') %>
<section id="content_container" class="container-fluid">
<div class="side-padding">
<%- body -%>
</div>
</section>
<br />
<br />
<%- partial('partials/googleAnalytics.ejs') %>
</body>
</html>