<% layout('../layout.ejs') -%>
<article class="row">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4>Users</h4>
		</div>
		<table id='users' class='table-striped table-condensed table-bordered table-responsive' style='width:100%;' title='Users'>
			<thead>
				<tr>
			    	<th class='text-left'>Username</th>
			    	<th class='text-left'>First Name</th>
			  		<th class='text-left'>Last Name</th>
			  		<th class='text-left'>Full Name</th>	  		
			  		<th class='text-left'>Email</th>	 
			  		<th class='text-left'>Created</th> 
			  		<th class='text-left'>Updated</th>
			  		<th class='text-center'>Action</th>	  			
				</tr>
			</thead>
			<tbody>		
			<% users.forEach(function(user) { %> 
				<tr data-id="<%= user._id  %>">
					<td class="text-left"><%= user.username  %></td>
					<td class="text-left"><%= user.firstname %></td>
					<td class="text-left"><%= user.lastname ? user.lastname : '' %></td>
					<td class="text-left"><%= user.fullname %></td>	
					<td class="text-left"><%= user.email %></td>	
					<td class="text-left"><%= user.created %></td>	
					<td class="text-left"><%= user.updated %></td>
					<td class="text-center">
						<div class="btn-group">
							<button type="button" class="btn btn-primary btn-xs">
								<a href="/users/edit/<%= user._id  %>">Edit</a>
							</button>
							<button type="button" class="btn btn-danger btn-xs">
								<a href="/users/destroy/<%= user._id  %>">Delete</a>
							</button>
						</div>
					</td>							
				</tr>
			<% }) %> 
			</tbody>
		</table>
	</div>			
	<p>
		<a class="content_a" href="/users/add">Add New User</a> | 
		<a class="content_a" href="/content/menu">Menu</a>	
	</p>
	<%- partial('../partials/flashMessage.ejs',{ "flash": flash }) %>					
</article>